<h1 class="m5-5">Selectores Anidados</h1>
<hr>

<form  [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col">
            <!-- REGION -->
            <label class="form-label"> Continente </label>
            <select class="form-control"
                    formControlName="region">
                <option value=""> -- Seleccione Continente --</option>
                <option *ngFor="let item of regiones"
                        [value]="item |lowercase"> {{item}}</option>
            </select>
        </div>
    </div>

<!-- PAIS -->
    <div class="row">
        <div class="col">
            
            <label class="form-label"> Paises </label>
            <select class="form-control"
                    formControlName="pais">
                <option value=""> -- Seleccione Pais --</option>
                <option *ngFor="let item of paises"
                        [value]="item.alpha3Code |lowercase"> {{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end mt-3"
                    type="submit">Seleccionar</button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre> {{miFormulario.valid}} </pre>
<pre> {{miFormulario.value | json}} </pre>