<h1 class="m5-5">Selectores Anidados</h1>
<hr>

<form  [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row">
        <div class="col">
            <!-- REGION -->
            <label class="form-label"> Continente </label>
            <select class="form-control"
                    formControlName="region">
                <option value=""> -- Seleccione Continente --</option>
                <option *ngFor="let item of regiones"
                        [value]="item |lowercase"> {{item}}</option>
            </select>
        </div>
    </div>

<!-- PAIS -->
    <div class="row" *ngIf="paises.length !==0">
        <div class="col">
            
            <label class="form-label"> Paises </label>
            <select class="form-control"
                    formControlName="pais">
                <option value=""> -- Seleccione Pais --</option>
                <option *ngFor="let item of paises"
                        [value]="item.alpha3Code |lowercase"> {{item.name}}</option>
            </select>
        </div>
    </div>

    <!-- fronteras -->
    <div class="row" *ngIf="fronteras.length !==0">
        <div class="col">
            
            <label class="form-label"> Fronteras </label>
            <select class="form-control"
                    formControlName="frontera">
                <option value=""> -- Seleccione Pais Fronterizo --</option>
                <option *ngFor="let item of fronteras"
                        [value]="item.alpha3Code"> {{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="row mt-3" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                cargando...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end mt-3"
                    type="submit">Seleccionar</button>
        </div>
    </div>
</form>

<h3>selec pais</h3>
<pre>{{miFormulario.controls.pais.touched |json}}</pre>

<h3>Formulario</h3>
<pre> {{miFormulario.valid}} </pre>
<pre> {{miFormulario.value | json}} </pre>